@tailwind base;
@tailwind components;
@tailwind utilities;
.font-pacifico{
    font-family: 'Pacifico';
}
.font-sil{
    font-family: 'Shadows Into Light';
}
.font-if{
    font-family: 'Indie Flower';
}